RewriteEngine On

# Redireccionar la pagina de error 404 a 404.php
ErrorDocument 404 /bajorosario-shopping/404.php

# Redireccionar promocion/<cod_promo> a detalle_promo.php?cod_promo=<cod_promo>
RewriteRule ^promocion/([^/]+)/?$ src/views/detalle_promo.php?cod_promo=$1 [L]

# Redireccionar local/<cod_local> a detalle_local.php?cod_local=<cod_local>
RewriteRule ^local/([^/]+)/?$ src/views/detalle_local.php?cod_local=$1 [L]

# Redirigir /promociones a /src/views/promociones.php
RewriteRule ^promociones$ src/views/promociones.php [L]

# Redirigir /inicio_sesion a /src/views/inicio_sesion.php
RewriteRule ^inicio_sesion$ src/views/inicio_sesion.php [L]

# Redirigir /registrar_usuario a src/views/registrar_usuario.php
RewriteRule ^registrar_usuario$ src/views/registrar_usuario.php [L]

# Redirigir /novedades a src/views/novedades.php
RewriteRule ^novedades$ src/views/novedades.php [L]

# Redirigir /dueno/new_promo a src/views/duenos/dueno_new_promo.php
RewriteRule ^dueno/new_promo$ src/views/duenos/dueno_new_promo.php [L]

# Redirigir /dueño/manage_promo a src/views/duenos/dueno_manage_promo.php
RewriteRule ^dueño/manage_promo$ src/views/duenos/dueno_manage_promo.php [L]

# Redirigir /admin/promociones a src/views/admin/admin_promo.php
RewriteRule ^admin/promociones$ src/views/admin/admin_promo.php [L]

# Redirigir /admin/duenos a src/views/admin/admin_duenos.php
RewriteRule ^admin/duenos$ src/views/admin/admin_duenos.php [L]

# Redirigir /admin/novedades a /src/views/admin/admin_novedades.php
RewriteRule ^admin/novedades$ src/views/admin/admin_novedades.php [L]

# Redirigir /admin/locales a src/views/admin/admin_locales.php
RewriteRule ^admin/locales$ src/views/admin/admin_locales.php [L]

# Redirigir /admin/reportes a src/views/admin/reportes.php
RewriteRule ^admin/reportes$ src/views/admin/reportes.php [L]

# Redirigir /admin/reportes a src/views/admin/reportes.php
RewriteRule ^admin/reportes/([^/]+)/?$ src/views/admin/detalle_reporte.php?cod_local=$1 [L]

# Redirigir /admin/categorias_cliente a src/views/admin/admin_cliente_categorias.php
RewriteRule ^admin/categorias_cliente$ src/views/admin/admin_cliente_categorias.php [L]