<!-- Boostrap JS -->
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <div class="container" bis_skin_checked="1">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Bajo Rosario</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://pub-6d29dc65ed78442db1957c22eac48272.r2.dev/logo.png" class="mx-2" alt="Bajo Rosario Logo" style="width: 50px;">
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/bajorosario-shopping/" class="nav-link px-2 text-body-secondary">Incio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Promociones</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Tiendas</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contacto</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Mapa de sitio</a></li>
        </ul>
    </footer>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>